In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
%matplotlib inline

In [19]:
# The objective of this task is to detect hate speech in tweets. For the sake of simplicity, we say a tweet contains hate speech if it has a racist or sexist sentiment associated with it. So, the task is to classify racist or sexist tweets from other tweets.

In [20]:
# dataset by analytics vidhya

In [21]:
df_train = pd.read_csv('/Users/utkarshkharb/Desktop/Twitter sentiment analysis/Hatespeech/train.csv')

In [22]:
df_test = pd.read_csv('/Users/utkarshkharb/Desktop/Twitter sentiment analysis/Hatespeech/test.csv')
df = pd.concat([df_train,df_test],ignore_index=True)

In [23]:
df

          id  label                                              tweet
0          1    0.0   @user when a father is dysfunctional and is s...
1          2    0.0  @user @user thanks for #lyft credit i can't us...
2          3    0.0                                bihday your majesty
3          4    0.0  #model   i love u take with u all the time in ...
4          5    0.0             factsguide: society now    #motivation
...      ...    ...                                                ...
49154  49155    NaN  thought factory: left-right polarisation! #tru...
49155  49156    NaN  feeling like a mermaid ð #hairflip #neverre...
49156  49157    NaN  #hillary #campaigned today in #ohio((omg)) &am...
49157  49158    NaN  happy, at work conference: right mindset leads...
49158  49159    NaN  my   song "so glad" free download!  #shoegaze ...

[49159 rows x 3 columns]

In [25]:
df.head(20)

    id  label                                              tweet
0    1    0.0   @user when a father is dysfunctional and is s...
1    2    0.0  @user @user thanks for #lyft credit i can't us...
2    3    0.0                                bihday your majesty
3    4    0.0  #model   i love u take with u all the time in ...
4    5    0.0             factsguide: society now    #motivation
5    6    0.0  [2/2] huge fan fare and big talking before the...
6    7    0.0   @user camping tomorrow @user @user @user @use...
7    8    0.0  the next school year is the year for exams.ð...
8    9    0.0  we won!!! love the land!!! #allin #cavs #champ...
9   10    0.0   @user @user welcome here !  i'm   it's so #gr...
10  11    0.0   â #ireland consumer price index (mom) climb...
11  12    0.0  we are so selfish. #orlando #standwithorlando ...
12  13    0.0  i get to see my daddy today!!   #80days #getti...
13  14    1.0  @user #cnn calls #michigan middle school 'buil...
14  15    1.0  no comment!  in #australia   #opkillingbay #se...
15  16    0.0  ouch...junior is angryð#got7 #junior #yugyo...
16  17    0.0  i am thankful for having a paner. #thankful #p...
17  18    1.0                             retweet if you agree!
18  19    0.0  its #friday! ð smiles all around via ig use...
19  20    0.0  as we all know, essential oils are not made of...

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [27]:
df.drop(labels=['id'],axis=1,inplace=True)

In [28]:
# dropping the id column since it is just index col+1(serves no purpose in analysis)

In [31]:
df.head()

   label                                              tweet
0    0.0   @user when a father is dysfunctional and is s...
1    0.0  @user @user thanks for #lyft credit i can't us...
2    0.0                                bihday your majesty
3    0.0  #model   i love u take with u all the time in ...
4    0.0             factsguide: society now    #motivation

In [32]:
# cleaning and pre processing the data

In [33]:
# username is masked hence it has to be removed

In [43]:
import re
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
        
    return input_txt 

# function to remove particular words from the text

In [52]:
df['clean_data']=np.vectorize(remove_pattern)(df['tweet'],'@[\w]*')

In [53]:
df

,label,tweet,clean_data
0,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,0.0,bihday your majesty,bihday your majesty
3,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,0.0,factsguide: society now #motivation,factsguide: society now #motivation
...,...,...,...
49154,NaN,thought factory: left-right polarisation! #tru...,thought factory: left-right polarisation! #tru...
49155,NaN,feeling like a mermaid ð #hairflip #neverre...,feeling like a mermaid ð #hairflip #neverre...
49156,NaN,#hillary #campaigned today in #ohio((omg)) &am...,#hillary #campaigned today in #ohio((omg)) &am...
49157,NaN,"happy, at work conference: right mindset leads...","happy, at work conference: right mindset leads..."
49158,NaN,"my song ""so glad"" free download! #shoegaze ...","my song ""so glad"" free download! #shoegaze ..."

In [ ]:
# removing stopwords

In [54]:
import nltk
from nltk.corpus import stopwords
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [55]:
# write a function that I will apply to the clean_data column to remove stopwords

In [66]:
s= 'Utkarsh Kharb'
p =s.split(sep =' ')
p

['Utkarsh', 'Kharb']

In [69]:
def remove_stopwords(input_str):
    l = input_str.split()
    new_l = [x for x in l if x not in stopwords.words('english')]
    return ' '.join(new_l)

In [70]:
df['clean_data']=df['clean_data'].apply(remove_stopwords)

In [76]:
df['clean_data']

0        father dysfunctional selfish drags kids dysfun...
1        thanks #lyft credit can't use cause offer whee...
2                                           bihday majesty
3        #model love u take u time urð±!!! ððð...
4                          factsguide: society #motivation
                               ...
49154    thought factory: left-right polarisation! #tru...
49155    feeling like mermaid ð #hairflip #neverread...
49156    #hillary #campaigned today #ohio((omg)) &amp; ...
49157    happy, work conference: right mindset leads cu...
49158    song "so glad" free download! #shoegaze #newmu...
Name: clean_data, Length: 49159, dtype: object

In [77]:
df['clean_data'][0]

'father dysfunctional selfish drags kids dysfunction. #run'

In [78]:
df['clean_data'][3]

'#model love u take u time urð\x9f\x93±!!! ð\x9f\x98\x99ð\x9f\x98\x8eð\x9f\x91\x84ð\x9f\x91 ð\x9f\x92¦ð\x9f\x92¦ð\x9f\x92¦'

In [79]:
# removing punctuation

In [89]:
punc =['!','?','&','/','.','-','_',':',';']
def remove_punctuation(input_str):
    l = input_str.split()
    new_l = [x for x in l if x not in punc ]
    return ' '.join(new_l)

In [90]:
df['clean_data']=df['clean_data'].apply(remove_punctuation)

In [91]:
df['clean_data']

0        father dysfunctional selfish drags kids dysfun...
1        thanks #lyft credit can't use cause offer whee...
2                                           bihday majesty
3        #model love u take u time urð±!!! ððð...
4                          factsguide: society #motivation
                               ...
49154    thought factory: left-right polarisation! #tru...
49155    feeling like mermaid ð #hairflip #neverread...
49156    #hillary #campaigned today #ohio((omg)) &amp; ...
49157    happy, work conference: right mindset leads cu...
49158    song "so glad" free download! #shoegaze #newmu...
Name: clean_data, Length: 49159, dtype: object

In [92]:
# tokenization----> i.e the strings are split and each word thus becomes a token. This is used for vectorization

In [94]:
tokenized_tweet = df['clean_data'].apply(lambda x: x.split())
tokenized_tweet.head(10)

0    [father, dysfunctional, selfish, drags, kids, ...
1    [thanks, #lyft, credit, can't, use, cause, off...
2                                    [bihday, majesty]
3    [#model, love, u, take, u, time, urð±!!!, ð...
4                  [factsguide:, society, #motivation]
5    [[2/2], huge, fan, fare, big, talking, leave.,...
6                        [camping, tomorrow, dannyâ¦]
7    [next, school, year, year, exams.ð¯, can't, ...
8    [won!!!, love, land!!!, #allin, #cavs, #champi...
9                                 [welcome, i'm, #gr8]
Name: clean_data, dtype: object